{% extends 'base.html' %}
{% block content %}
<h2>Food Categories</h2>
<div class="tree">
    {% for category in categories %}
        <ul>
            <li>{{ category.name }}
                {% if category.get_children %}
                    <ul>
                        {% for child in category.get_children %}
                            <li>{{ child.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</div>
{% endblock %}